
body{
background-color: khaki;
    }

.mytextbox{
    float: left;
    position: relative;
    width: 85%; 
    margin-left: 10%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    color: rgb(187, 97, 97);
    text-align: justify;
}
.HeaderBox {
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    background-color: rgb(89, 4, 4);
}
.LogoBox{
    display: inline-block;
    float: none;
    position: relative;
    width: 75%;
    height: 75%;
}
a:link {
    color:brown;
    text-decoration-none;}
    a:visited {
        color: burlywood;}
        a:hover {
            color: rgb(135, 212, 245);
        }
  a:active {
    color: rgb(173, 68, 11);
  }

.NavBox{
    display: inline-block;
    float: right;
    width: 80%;
    padding-right: 2cm;
  }

.HomeLink{
    display: inline-block;
    float: right;
    width: 15%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.MissionLink{
    display: inline-block;
    float: right;
    width: 17%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.ScheduleLink{
    display: inline-block;
    float: right;
    width: 17%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.ContactLink{
    display: inline-block;
    float: right;
    width: 16%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.RatesLink{
    display: inline-block;
    float: right;
    width: 16%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.MyTextBox2{ 
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    height: 50px;
    background-image: url("../images/dark-wood.jpg");
    padding-top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    color:rgb(244, 243, 239);
}
figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(187, 97, 97);
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    color: rgb(84, 13, 13);
    text-align: left;
    font-weight: bold;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(84, 13, 13);
    text-align: center;
    font-weight:normal;
}
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7vw;
    color: rgb(84, 13, 13);
    text-align: center;
    font-weight: bold;
}

.ProductBoxesFour {
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
  
}
.ProdBoxAFour {
    display: inline-block;
    float: left;
    position: relative;
    width: 17%;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: 1cm;
}
.ProdBoxBFour {
    display: inline-block;
    float: left;
    position: relative;
    width: 17%;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: .25cm;
}
.ProdBoxCFour {
    display: inline-block;
    float: left;
    position: relative;
    width: 17%;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: .25cm;
}
.ProdBoxDFour {
    display: inline-block;
    float: left;
    position: relative;
    width: 17%;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: .25cm;
}

.BigTextOne {
    display: inline-block;
    float: right;
    position: relative;
    width: 95%;
}
.BigTextOneLeft {
    display: inline-block;
    float: left;
    position: relative;
    width: 35%;
    margin-left: 7%;
    margin-right: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
}
.MyTitleRight {
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1vw;
    text-align: left;
    color: #401705;
    font-weight: bold;
}
.BigTextOneRight {
    display: inline-block;
    float: left;
    position: relative;
    width: 45%;
    margin-left: 4%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    text-align: justify;
    color: rgb(187, 97, 97);
}
.BigTextTwo {
    display: inline-block;
    float: right;
    position: relative;
    width: 95%;
}
.MyTitleLeft {
    display: inline-block;
    float: right;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1vw;
    text-align: justify;
    color: #401705;
    font-weight: bold;
}
.BigTextTwoLeft {
    display: inline-block;
    float: left;
    position: relative;
    width: 45%;
    margin-left: 7%;
    margin-right: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    text-align: justify;
    color: rgb(187, 97, 97);
}
.BigTextTwoRight {
    display: inline-block;
    float: left;
    position: relative;
    width: 35%;
    margin-left: 2%;
    margin-right: 7%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.Footer {
    display: inline-block;
    float: left;
    width: 100%;
    background-color: rgb(89, 4, 4);
    padding-top: 10px;
    padding-bottom: 4%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    color: bisque;
}
.FooterNavBox {
    display: inline-block;
    float: left;
    position: relative;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}
.FtHomeLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
}
.FtMissionLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
}
.FtTourLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
}
.FtRatesLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
}
.FtContactLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
    
}
.FtScheduleLink {
    display: inline-block;
    float: left;
    width: 16%;
    font-size: 17px;
    text-align: center;
}

.SectionText {
    display: inline-block;
    float: left;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #401705;
    text-align: left;
}


button {
    display: inline-block;
    background-color: #401705;
    border:none;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color:bisque;
    font-size: 14px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #401705;
    color:blue;
}


